services:
    symfony:
        image: ${DOCKER_REGISTRY}/api-php:${DOCKER_BRANCH}
        container_name: ${DOCKER_BRANCH}-api_php-sf
        build:
        context: ./
        args:
            APP_ENV: ${APP_ENV}
        networks:
            - api-${DOCKER_BRANCH}
            - traefik-realt
#        volumes:
#              - ./logs/symfony:/var/www/html/var/log:cached
#              - ./logs/nginx:/var/log/nginx:cached
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.api-${DOCKER_BRANCH}.rule=Host(`${HOSTNAME}`)"
            - "traefik.http.services.api-${DOCKER_BRANCH}.loadbalancer.server.port=80"
        restart: always

    db:
        image: mysql:9.3
        container_name: ${DOCKER_BRANCH}-api_php-db
        networks:
            - api-${DOCKER_BRANCH}
        environment:
            - "MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}"
            - "MYSQL_USER=${MYSQL_USER}"
            - "MYSQL_PASSWORD=${MYSQL_PASSWORD}"
            - "MYSQL_DATABASE=${MYSQL_DATABASE}"
        restart: always

    redis:
        image: redis:7-alpine
        container_name: api-redis
#        ports:
#            - "6379:6379"
        networks:
            - api-php
        restart: unless-stopped
        command: ["redis-server", "--appendonly", "yes"]

    adminer-branch:
        image: adminer
        container_name: ${DOCKER_BRANCH}-api_php-adminer
        ports:
            - "18080:8080"
        networks:
            - api-${DOCKER_BRANCH}
        restart: always

networks:
    api-${DOCKER_BRANCH}:
    traefik-realt:
        external: true
