# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:

services:
    _defaults:
        autowire: true
        autoconfigure: true
        bind:
            'Symfony\\Contracts\\Cache\\CacheInterface $tokensCache': '@cache.pool.tokens_cache'

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    App\Controller\:
        resource: '../src/Controller'
        tags: [ 'controller.service_arguments' ]

    App\EventSubscriber\RateLimitSubscriber:
        arguments:
            $limiters: !tagged_iterator { tag: 'rate_limiter', index_by: 'name' }
        tags:
            - { name: kernel.event_subscriber }

    App\Service\QuotaService:
        arguments:
            $limiters: !tagged_iterator { tag: 'rate_limiter', index_by: 'name' }

    App\Service\RequestContextService: ~

#    Web3p\EthereumUtil\Util: ~

    Redis:
        class: Redis
        factory: [ 'Redis', 'connect' ]
        arguments:
            - '%env(REDIS_URL)%'

    rate_limiter.storage.redis:
        class: Symfony\Component\RateLimiter\Storage\RedisStorage
        arguments:
            - '@Redis'

#    # Inject named cache pools for direct use via autowiring
#    Symfony\Contracts\Cache\CacheInterface $tokensCache:
#        alias: 'cache.pool.tokens_cache'
